<section id="tvshow" data-ng-controller="TVShowsController as tvshow">
    <ul class="nav nav-tabs">
        <li data-ng-class="{'active' : tvshow.toggleItem == 'popular'}"
            data-ng-class="{'active' : tvshow.toggleItem == 'popular'}">
            <a href="#/tvshow" data-ng-click="tvshow.toggleItem = 'popular'">Popular</a>
        </li>
        <li data-ng-class="{'active' : tvshow.toggleItem == 'upcoming'}"
            data-ng-class="{'active' : tvshow.toggleItem == 'upcoming'}">
            <a href="#/tvshow" data-ng-click="tvshow.toggleItem = 'upcoming'">Upcoming</a>
        </li>
        <li data-ng-class="{'active' : tvshow.toggleItem == 'recent'}"
            data-ng-class="{'active' : tvshow.toggleItem == 'recent'}">
            <a href="#/tvshow" data-ng-click="tvshow.toggleItem = 'recent'">Recently Added Shows</a>
        </li>
        <li data-ng-class="{'active' : tvshow.toggleItem == 'search'}" data-ng-click="tvshow.toggleItem = 'search'">
            <a href="#/tvshow" data-ng-click="tvshow.toggleItem = 'search'">
                <span class="glyphicon glyphicon-search" data-ng-click="tvshow.toggleItem = 'search'"></span>
                Search</a>
        </li>
    </ul>


    <section id="tvshow-contents">
        <div class="content">
            <section id="recentlyAdded" data-ng-if="tvshow.toggleMenu('recent')">
                <h1>Recently Added</h1>
            </section>


            <!--list of tv show banners here or something-->
            <section id="tvshowSearch" data-ng-if="tvshow.toggleMenu('search')">
                <div class="input-group searchbar">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-search"></span>
                    </span>
                    <input type="text" class="form-control" placeholder="TV SHOW" data-ng-model="tvshow.data"
                           data-ng-enter="tvshow.getTVSeriesByName()"/>

                    <span class="input-group-btn">
                        <button type="button" class="btn btn-info search-btn" data-ng-disabled="!tvshow.data"
                                data-ng-click="tvshow.getTVSeriesByName()"><span
                                class="glyphicon glyphicon-search"></span>
                            Search
                        </button>
                    </span>
                </div>


                <div class="search-results" data-ng-if="tvshow.toggleMenu('search')">
                    <div class="no-data" data-ng-if="tvshow.shows.length == 0 && tvshow.loading == false">Your
                        search
                        did
                        not
                        return any results
                    </div>


                    <div data-ng-show="tvshow.loading == false" data-ng-repeat="show in tvshow.shows">
                        <div class="panel" data-ng-class="tvshow.panelClass[$index%5]">
                            <div class="panel-heading"><h3 class="panel-title" data-ng-click="tvshow.collapseShowDetail(show.provider.providerId, $index)">{{show.seriesName}}</h3></div>
                            <div class="panel-body" data-ng-show="show.isDetails">
                                <div class="col-sm-12 col-md-12 pull-center">
                                    <show data-show="show"></show>
                                </div>
                            </div>
                        </div>
                    </div>

<!--                    <div class="row" data-ng-show="tvshow.loading == false">
                        <ul class="list-group" data-ng-repeat="show in tvshow.shows">
                        <li class="list-group-item">{{show.seriesName}}</li>
                    </ul>-->
                        <!--&lt;!&ndash;this should be shown only if a show is clicked &ndash;&gt;
                        <div class="col-sm-6 col-md-6" data-ng-repeat="show in tvshow.shows">
                            <show data-show="show"></show>
                        </div>-->
                    </div>



            </section>
        </div>
    </section>
</section>
