.nav {
    color: #5a5a5a;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.nav a {
    font-size: 11px;
    font-weight: bold;
    padding: 14px 10px;
}

.nav li {
    display: inline;
}