.thumbnail img {
    width: 100%;
	height: 270px;
}

.thumbnail {
	position: relative;
	margin: 0px;
	overflow: hidden;
	background-color: #eee;
}

.caption {
	display: table;
	position: absolute;
	top: 15px;
	left: 1%;
	right: 8%;
	background: rgba(0, 0, 0, 0.2);
	width: 98%;
	height: 5%;
	padding: 5px;

}

.caption p {
	padding: 0;
	color: #fff;
	margin: 0;
	font-weight: bold;
	font-family: Tahoma, Geneva, sans-serif;
}

.thumbnail h3 {
	position: relative;
	margin-top: 5px;

	margin-right: 0;
}

.overview .overviewExpander {
	position: relative;
	float: right;
	left:1%;
}

.overviewStyle {
	margin: 0;
	padding: 2%;
	opacity: 0.9;
}

.showheader {
	padding: 0;
	text-align: left;
}

.showheader li {
	display: inline-flex;

}

.ratingLabelContainer {
	padding-left:20%;
}

.rating {
	position: relative;
	padding-left:2%;
}

.moreInfo {
	padding: 2%;
	text-align:center;
}

.caption .title {
	float:left;
}

.caption .likelabel {
	padding: 1%;
	float:right;
	margin: 0;
}

.genrecontainer li {
	font-size: 8pt;
	padding: 1%;
	color: #000;
}

.genrecontainer {
	text-align: center;
	align-content: center;
	background-color: #eee;
}
