<div class="thumbnail">
	<div class="caption">
		<p class="title">{{show.seriesName}}</p>
		<span class="label label-danger likelabel" ng-click="show.isLiked = !show.isLiked" data-ng-show="show.isLiked"><span class="glyphicon glyphicon-star-empty"></span> Like</span>
		<span class="label label-success likelabel" ng-click="show.isLiked = !show.isLiked" data-ng-show="!show.isLiked"><span class="glyphicon glyphicon-star"></span> Like</span>
	</div>

	<img src="{{show.fanart}}">

	<!--<ul class="nav nav-pills genrecontainer">
		<li data-ng-repeat="genre in show.genres" data-ng-style="{'background-color': 'rgba(78, 78, 79, ' + show.genres.length / ($index + 1) / 5 + ')'}">
			{{genre}}
		</li>
	</ul>-->



	<!--<div class="well well-lg overviewStyle">
		<div class="overview">
			<ul class="showheader">
				<li><h3>Synopsis</h3></li>
				<li/>
				<li class="ratingLabelContainer" data-ng-show="show.rating != 0"><span class="ratinglabel">{{show.rating}}</span></li>
				<li class="rating">
					<rating ng-model="show.rating" max="10" readonly="true" data-ng-show="show.rating != 0"></rating>
				</li>
			</ul>

			<div class="overviewExpander">
						<span class="glyphicon glyphicon-collapse-down" aria-hidden="true"
							  ng-click="show.isCollapsed = !show.isCollapsed" data-ng-show="show.isCollapsed"></span>
						<span class="glyphicon glyphicon-collapse-up" aria-hidden="true"
							  ng-click="show.isCollapsed = !show.isCollapsed" data-ng-show="!show.isCollapsed"></span>
			</div>

			{{show.overviewPart1}}<span collapse="show.isCollapsed">{{show.overviewPart2}}</span>


		</div>
	</div>-->
	<div class="moreInfo">
		<button type="button" class="btn btn-info"><span
				class="glyphicon glyphicon-eye-open"></span>
			More Information
		</button>
	</div>
</div>