<div class="container"  data-ng-controller="TVSearchController as tvsearch">
    <h3>TV Show Name</h3>

    <div class="input-group">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-search"></span>
            </span>
        <input type="text" class="form-control" placeholder="TV SHOW" data-ng-model="home.data"
               data-ng-enter="home.getTVSeriesByName()"/>

            <span class="input-group-btn">
                <button type="button" class="btn btn-info search-btn" data-ng-disabled="!tvsearch.data"
                        data-ng-click="tvsearch.getTVSeriesByName()"><span class="glyphicon glyphicon-search"></span> Search
                </button>
            </span>
    </div>

    <div class="container">
        <div class="search-results">
            <div class="no-data" data-ng-if="tvsearch.shows.length == 0 && tvsearch.loading == false">Your search did not
                return any results
            </div>

            <ul class="list-of-shows" data-ng-show="tvsearch.loading == false">
                <li class="col-xs-6 col-md-4 repeat-animation" data-ng-repeat="show in tvsearch.shows">
                    {{show.seriesName}}
                </li>
            </ul>

        </div>
    </div>
</div>